<div>
    {{#each data as |parks|}}
    <p>{{parks.fullName}}</p>
    <div>
        {{#each parks.images as |image|}}
        <span><img src="{{image.url}}" alt="image" style="width:200px;"></span>
        {{/each}}
    </div>
    {{/each}}
</div>