
  {{> search-bar}}
  {{!-- <div class="field-body">
    <div class="field">
      <p class="control">
        <input class="input" id="search-state" type="text" placeholder="ex: TX">
        <button class="button search-form">Search</button>
      </p>
    </div>
  </div> --}}


{{!-- <script src="/js/search.js"></script> --}}